/idea/*
/temp/*
idea/*
temp/*
temp/
idea/
build/
wsl/*
*.patch
.idea/
GoOnchain.iml
.log
.DS_Store
*.orig
*.rej
!vendor/github.com/mixbee/mixbee-crypto/*
Chain/*
/config/*
cscope*
*.exe
**/*.log
**/*.txt
neosnapshot/*
glide.lock
*.iml
tools/*
mixbee
node/
docker/payload/*
Chain/*
wallet.dat
hellopy.avm